body{
	background: blue;
	background: linear-gradient(#4169E1, white);
	background-attachment: fixed;
}

h1{
  color: white;
  text-align: center;
  font-size: 4em;
  font-family: 'Futura PT', sans-serif;
  font-weight: bold;
  padding-top: 1em;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #4169E1	;
  text-align: right;
  height: 4em;
  color: white;
  
}

.slideshow{
    width: 50em;
	height: 30em;
    position: absolute;
    overflow: hidden;
    border: 0.5em solid white;
	left: 25%;
	top: 25%;
}

.slides{
    width: 100%;
    display: flex;
    animation: slide 10s infinite;
}

@keyframes slide{  
 
    0%{
       transform: translateX(0);
    }
	
    25%{
        transform: translateX(0);
    }
	
    30%{
        transform: translateX(-100%);
    }
	
    50%{
        transform: translateX(-100%);
    }
	
    55%{
        transform: translateX(-200%);
    }
	
    75%{
        transform: translateX(-200%);
    }
	
    80%{
        transform: translateX(-300%);
    }
	
    100%{
        transform: translateX(-300%);
    }
}