body{
  background: blue;
  background: linear-gradient(#4169E1, white);
  background-attachment: fixed;
}

h1{
  color: white;
  text-align: center;
  font-size: 2em;
  font-family: 'Futura PT', Verdana, sans-serif;
  font-weight: bold;
  padding-top: 1em;
}

#slideshow{
  width: 100%;
  height: auto;
  text-align: center;
}

.slide img{
  width: 30em;
}

#slideshow .slide{
  display: none;
}

#slideshow .slide.active{
  display: block;
}
#caption{
  text-align: center;
  color: white;
  font-family: 'Futura PT', Verdana, sans-serif;
  font-size: 1em;
  font-weight: bold;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 5em;
  padding-right: 5em;
}

#caption p{
  padding-top: 1em;
}

#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f5f5f5;
  text-align: center;
}

.container {
  padding: 0 16px;
  text-align: center;
  padding: 1em;
}

.foot-1 {
  font-family: 'Playfair Display', Verdana, serif;
  font-size: 16px;
  color: #333;
  font-weight: bold;
  padding: 1em;
}
.foot-2 {
  font-family: 'Playfair Display', Verdana, serif;
  font-size: 14px;
  color: #333;
  font-weight: bold;
  padding: 1em;

}
.foot-3 {
  font-family: 'Playfair Display', Verdana, serif;
  font-size: 10px;
  color: #333;
  font-weight: bold;
  padding: 1em;

}

#navbar-container{
  text-align: center;
  position: relative; 
  width: 100%;
  float: left;
  background-color: white;
  overflow: hidden; 
}

#navbar-container ul{
  left: 50%;
  margin: 0; 
  padding: 0; 
  position: relative; 
  list-style-type: none; 
  float: left;
}

#navbar-container ul li{ 
  display: block; 
  float: left;
  right: 50%;
  position: relative;
}

#navbar-container ul li a{
  display: block; 
  color: #4169E1; 
  padding: 1em 2em;
  font-size: 1em;
  font-family: 'Futura PT', Verdana, sans-serif;
  text-decoration: none;
}

#navbar-container ul li a:hover{
  background-color: #8AC7DB; 
}

@media screen and (min-width: 800px){
	
  h1{
    color: white;
    text-align: center;
    font-size: 3em;
    font-family: 'Futura PT', Verdana, sans-serif;
    font-weight: bold;
    padding-top: 1em;
  }
  
  #caption{
    text-align: center;
    color: white;
    font-family: 'Futura PT', Verdana, sans-serif;
    font-size: 1.25em;
    font-weight: bold;
    padding-top: 1em;
	padding-bottom: 1em;
	padding-left: 5em;
	padding-right: 5em;
  
  }
}

@media screen and (min-width: 1500px){
	
  h1{
    color: white;
    text-align: center;
    font-size: 4em;
    font-family: 'Futura PT', Verdana, sans-serif;
    font-weight: bold;
    padding-top: 1em;
  }
  
  #caption{
    text-align: center;
    color: white;
    font-family: 'Futura PT', Verdana, sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    padding-top: 1em;
	padding-bottom: 1em;
	padding-left: 5em;
	padding-right: 5em;
  }
  
}