h1 {
  margin: auto;
  background-color: DodgerBlue;
  color: white;
  text-align: center;
  font-size: 2.25em;
  padding: 0.30em;
  display: block;
  position: relative;
  resize: vertical;  
}

form {
  width: auto;
  background-color: DodgerBlue;
  border-radius: 1.50em;
  padding: 0.70em;
  outline: 0.20em solid black;
  text-align: center;
  margin-top: 2%;
  margin-left: 25%;
  margin-right: 25%;
}