body{
  background: blue;
  background: linear-gradient(#4169E1, white);
  background-attachment: fixed;
}

#caption{
  text-align: center;
  color: white;
  font-family: 'Futura PT', Verdana, sans-serif;
  font-size: 0.5em;
  font-weight: bold;
}

#caption p{
  padding-top: 1em;
}

h1{
  color: white;
  text-align: center;
  font-size: 2em;
  font-family: 'Futura PT', Verdana, sans-serif;
  font-weight: bold;
  padding-top: 1em;
}

.container {
  padding: 0 16px;
  text-align: center;
  padding: 1em;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f5f5f5;
  text-align: center;
}

.foot-1 {
  font-family: 'Playfair Display', Verdana, serif;
  font-size: 16px;
  color: #333;
  font-weight: bold;
  padding: 1em;
}
.foot-2 {
  font-family: 'Playfair Display', Verdana, serif;
  font-size: 14px;
  color: #333;
  font-weight: bold;
  padding: 1em;

}
.foot-3 {
  font-family: 'Playfair Display', Verdana, serif;
  font-size: 10px;
  color: #333;
  font-weight: bold;
  padding: 1em;

}

.slideshow{
  width: 50em;
  height: 30em;
  position: absolute;
  overflow: hidden;
  border: 0.5em solid white;
  top: 33%;
  left: 29%;
}

.slides{
  width: 100%;
  display: flex;
  animation: slide 10s infinite;
}

#navbar-container{
  text-align: center;
  position: relative; 
  width: 100%;
  float: left;
  background-color: white;
  overflow: hidden; 
}

#navbar-container ul{
  left: 50%;
  margin: 0; 
  padding: 0; 
  position: relative; 
  list-style-type: none; 
  float: left;
}

#navbar-container ul li{ 
  display: block; 
  float: left;
  right: 50%;
  position: relative;
}

#navbar-container ul li a{
  display: block; 
  color: #4169E1; 
  padding: 1em 2em;
  font-size: 1em;
  font-family: 'Futura PT', Verdana, sans-serif;
  text-decoration: none;
}

#navbar-container ul li a:hover{
  background-color: #8AC7DB; 
}

@keyframes slide{  

  0%{
    transform: translateX(0);
  }
  
  25%{
    transform: translateX(0);
  }
	
  30%{
    transform: translateX(-100%);
  }
	
  50%{
    transform: translateX(-100%);
  }
	
  55%{
    transform: translateX(-200%);
  }
	
  75%{
    transform: translateX(-200%);
  }
	
  80%{
    transform: translateX(-300%);
  }
	
  100%{
    transform: translateX(-300%);
  }
}

@media screen and (min-width: 800px){
  h1{
    color: white;
    text-align: center;
    font-size: 3em;
    font-family: 'Futura PT', Verdana, sans-serif;
    font-weight: bold;
    padding-top: 1em;
  }
  
  #caption{
    text-align: center;
    color: white;
    font-family: 'Futura PT', Verdana, sans-serif;
    font-size: 1em;
    font-weight: bold;
    padding-top: 3em;
  
  }
}

@media screen and (min-width: 1500px){
  h1{
    color: white;
    text-align: center;
    font-size: 4em;
    font-family: 'Futura PT', Verdana, sans-serif;
    font-weight: bold;
    padding-top: 1em;
  }
  
  #caption{
    text-align: center;
    color: white;
    font-family: 'Futura PT', Verdana, sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    padding-top: 3em;
  
  }
}